<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | PBC</title>
    <link rel="stylesheet" href="../static/stylesheets/styler.css">
    <link rel="icon" href="../static/images/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="../static/javascripts/main.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
    <div id="poster">
        <div id="poster_content">
            <h1 id="welcome">WELCOME</h1>
            <form action="" method="POST" id="pswd_form">{% csrf_token %}
                <label> 
                    <input type="password" name="pswd" id="pswd">
                </label>
            </form>
            <img src="../static/images/database.png" alt="scanning_database_icon" id="check_pass_btn" ondragstart="return false"/>
            <ul id="contact">
                <li id="usage"><i class="ri-creative-commons-nd-fill"></i>
                    Usage<div id="usage-text"><ul>
                        <li style="list-style: none; margin-left: -5%; text-decoration: underline; text-align: center"><i><small>Note: Content is scrollable</small></i></li>
                        <li>Enter the password in the white input field for which you want to check the breach.</li>
                        <li style="list-style: none; margin-left: -5%"><hr></li>
                        <li>Click the search database icon to get the result.</li>
                        <li style="list-style: none; margin-left: -5%"><hr></li>
                        <li>If your password have not been breached yet, the output message would be in green color.</li>
                        <li style="list-style: none; margin-left: -5%"><hr></li>
                        <li>The red color output message tells the number of times the password have been breached.</li>
                        <li style="list-style: none; margin-left: -5%"><hr></li>
                        <li>Clicking the WELCOME refreshes the webpage.</li>
                        <li style="list-style: none; margin-left: -5%"><hr></li>
                        <li>You can search for another password security without refreshing the page.</li>
                        <li style="list-style: none; margin-left: -5%"><hr></li>
                        <li>Click GitHub, which would take you to the GitHub link of the project.</li>
                        <li style="list-style: none; margin-left: -5%"><hr></li>
                        <li>Hover on About (click About on mobile devices), where you can find quick explanation of the project.</li>
                    </ul></div></li>
                <li id="git-link"><i class="ri-github-fill"></i> GitHub</li>
                <li id="about"><i class="ri-information-fill"></i>
                    About<div id="about-text"><ul>
                        <li style="list-style: none; margin-left: -5%; text-decoration: underline; text-align: center"><i><small>Note: Content is scrollable</small></i></li>
                        <li>This website is developed using Python Django framework along with the the front-end technologies like HTML, CSS & Javascript.</li>
                        <li style="list-style: none; margin-left: -5%"><hr></li>
                        <li>This website is hosted/deployed on a AWS server.</li>
                        <li style="list-style: none; margin-left: -5%"><hr></li>
                        <li>This website uses haveibeenpwned API for the result.</li>
                        <li style="list-style: none; margin-left: -5%"><hr></li>
                        <li>NO Password is being stored anywhere, your password is just being used to call the API and check for the breach.</li>
                        <li style="list-style: none; margin-left: -5%"><hr></li>
                        <li>Suggestions related to the website or other are welcomed, create an issue on the GitHub for your thoughts.</li>
                    </ul></div></li>
            </ul>
            <p id="result">{{result}}</p>
        </div>
         <span id="full-form">Password Breach Checker</span>
        <p id="credit"><img src="../static/images/logo.png" alt="logo" width=30 /><b id="pbc-full">PBC</b><i>&lt;developed by: </i><b>Mr. Mudgal/&gt;</b></p>
    </div>
</body>
</html>
