@font-face {
    font-family: NDot;
    src: url('//in.nothing.tech/cdn/shop/t/124/assets/Ndot-55.otf?v=18522138017450180331695871514');
}

body {
    margin: 0;
    user-select: none;
    user-modify: none;
    -webkit-user-drag: none;
    font-family: monospace;
}

h1 {
    margin: 0;
    font-family: NDot, monospace;
    position: relative;
    cursor: pointer;
}

#poster {
    background: url('https://cdn.jsdelivr.net/gh/mr-mudgal/Password-Breach-Checker/checkPassword/static/images/pass_poster.jpg');
    background-size: cover;
    & #credit {
        position: absolute;
        bottom: -30px;
        text-shadow: 0 0 5px white;
        right: 4.5%;
        backdrop-filter: blur(2px);
        & img {
            backdrop-filter: blur(3px);
        }
    }
    & #full-form {
        display: none;
        position: relative;
        right: -50%;
        bottom: -3%
    }
}

#poster_content {
    text-align: center;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    border: 0;
    border-radius: 40px;
    box-shadow: 0 0 40px -5px;
}

#pswd {
    border: 0;
    border-radius: 40px;
    color: blue;
    text-align: center;
    &:focus {
        outline: none
    }
    position: relative;
}

#check_pass_btn {
    position: relative;
    height: 100px;
    cursor: pointer;
    &:hover {
        background: rgba(255, 255, 255, 0.25);
        border-radius: 20px;
        padding: 0 25px
    }
}

#result {
    position: relative;
    display: inline;
}

ul {
    list-style: disc;
    text-align: justify;
    & hr {
        width: 60%;
    }
}


@media (width >= 600px) {
    #contact {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        position: relative;
    }
    #usage-text {
        display: none;
        position: absolute;
        top: -550%;
        left: 1%;
        margin: 0;
        height: 549%;
        width:44%;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        overflow: auto;
        border-radius:35px;
        z-index: 1;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    #about-text {
        display: none;
        position: absolute;
        top: -550%;
        left: 55%;
        margin: 0;
        height: 549%;
        width:44%;
        background: rgba(0, 0, 0, 0.4);
        color: white;
        overflow: auto;
        border-radius:35px;
        z-index: 1;
        &::-webkit-scrollbar {
            display: none;
        }
}
}

@media (width < 600px) {
    #contact {
        list-style: none;
        padding: 0;
        display: inline;
        position: relative;
    }
    #usage-text {
        display: none;
        position: absolute;
        margin-top: -285px;
        height: 245px;
        width:332px;
        background: rgba(0, 0, 0, 0.4);
        color: white;
        overflow: auto;
        border-radius:35px;
        z-index: 1;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    #about-text {
        display: none;
        position: absolute;
        margin-top: -368px;
        height: 245px;
        width:332px;
        background: rgba(0, 0, 0, 0.4);
        color: white;
        overflow: auto;
        border-radius:35px;
        z-index: 1;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
